/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
combos {
  compatible = "zmk,combos";
  right_index_middle_top {
    key-positions = <7 8>;
    bindings = <&kp LBKT>;
  };
  right_middle_ring_top {
    // io is too common
    timeout-ms = <25>;
    key-positions = <8 9>;
    bindings = <&kp RBKT>;
  };
  right_index_middle {
    key-positions = <19 20>;
    bindings = <&mt RGUI LPAR>;
  };
  right_middle_ring {
    key-positions = <20 21>;
    bindings = <&mt RALT RPAR>;
  };
  right_index_middle_ring {
    key-positions = <19 20 21>;
    bindings = <&kp RG(RALT)>;
  };
  right_index_stretch_up {
    key-positions = <6 18>;
    bindings = <&kp GRAVE>;
  };
  right_index_up {
    key-positions = <7 19>;
    bindings = <&kp SQT>;
  };
  right_middle_up {
    key-positions = <8 20>;
    bindings = <&kp MINUS>;
  };
  right_ring_up {
    key-positions = <9 21>;
    bindings = <&kp EQUAL>;
  };
  right_pinky_up {
    key-positions = <10 22>;
    bindings = <&kp BSLH>;
  };
  right_index_middle_bottom {
    key-positions = <31 32>;
    bindings = <&kp LBRC>;
  };
  right_middle_ring_bottom {
    key-positions = <32 33>;
    bindings = <&kp RBRC>;
  };
  right_index_horizontal {
    key-positions = <18 19>;
    bindings = <&kp AMPS>;
  };
  right_index_top_horiztontal {
    key-positions = <6 7>;
    bindings = <&kp STAR>;
  };
  right_index_bottom_horizontal {
    key-positions = <30 31>;
    bindings = <&kp DOLLAR>;
  };
  right_index_down {
    key-positions = <19 31>;
    bindings = <&kp EXCL>;
  };
  right_middle_down {
    key-positions = <20 32>;
    bindings = <&kp AT>;
  };
  right_ring_down {
    key-positions = <21 33>;
    bindings = <&kp HASH>;
  };
  right_home_up {
    timeout-ms = <100>;
    key-positions = <8 19>;
    bindings = <&kp CARET>;
  };
  right_up_home {
    key-positions = <7 20>;
    bindings = <&kp PERCENT>;
  };
  right_middle_up_home {
    key-positions = <8 21>;
    bindings = <&kp PERCENT>;
  };
  left_index_middle {
    key-positions = <15 16>;
    bindings = <&kp LGUI>;
  };
  left_middle_ring {
    key-positions = <14 15>;
    bindings = <&kp LALT>;
  };
  left_index_middle_ring {
    key-positions = <14 15 16>;
    bindings = <&kp RG(RALT)>;
  };
  left_index_stretch_up {
    timeout-ms = <100>;
    key-positions = <5 17>;
    bindings = <&kp N0>;
  };
  left_index_up {
    timeout-ms = <100>;
    key-positions = <4 16>;
    bindings = <&kp N1>;
  };
  left_middle_up {
    timeout-ms = <100>;
    key-positions = <3 15>;
    bindings = <&kp N2>;
  };
  left_ring_up {
    timeout-ms = <100>;
    key-positions = <2 14>;
    bindings = <&kp N3>;
  };
  left_pinky_up {
    timeout-ms = <100>;
    key-positions = <1 13>;
    bindings = <&kp N4>;
  };
  left_index_stretch_down {
    timeout-ms = <100>;
    key-positions = <17 29>;
    bindings = <&kp N9>;
  };
  left_index_down {
    timeout-ms = <100>;
    key-positions = <16 28>;
    bindings = <&kp N8>;
  };
  left_middle_down {
    timeout-ms = <100>;
    key-positions = <15 27>;
    bindings = <&kp N7>;
  };
  left_ring_down {
    timeout-ms = <100>;
    key-positions = <14 26>;
    bindings = <&kp N6>;
  };
  left_pinky_down {
    timeout-ms = <100>;
    key-positions = <13 25>;
    bindings = <&kp N5>;
  };
  inner_right_thumb {
    key-positions = <39 40>;
    bindings = <&mt RC(RSHFT) RC(SPC)>;
  };
};

behaviors {
  td_cap_word: tap_dance_mod_tap {
    compatible = "zmk,behavior-tap-dance";
    label = "td_cap_word";
    #binding-cells = <0>;
    bindings = <&kp LSHFT>, <&caps_word>;
  };
};

keymap {
  compatible = "zmk,keymap";

  default_layer {
    bindings = <
      // ROW 1
      &trans        &kp Q            &kp W            &kp E            &kp R             &kp T
      &kp Y         &kp U            &kp I            &kp O            &kp P             &trans
      // ROW 2
      &trans        &kp A            &kp S            &kp D            &kp F             &kp G
      &kp H         &kp J            &kp K            &kp L            &kp SEMI          &trans
      // ROW 3
      &trans        &kp Z            &kp X            &kp C            &kp V             &kp B
      &kp N         &kp M            &kp COMMA        &kp DOT          &kp FSLH          &trans
      // THUMBS
      &mt LCTRL DEL &lt 1 ESC        &mt LSHFT TAB
                                                      &mt RCTRL RET    &lt 1 SPC         &mt RSHFT BSPC
    >;
  };

  lower_layer {
    bindings = <
      // ROW 1
      &kp C_BRI_UP  &kp CARET        &kp AMPS         &kp PERCENT      &kp STAR          &kp DOLLAR
      &kp HOME      &kp PG_DN        &kp PG_UP        &kp END          &trans            &kp C_PREV
      // ROW 2
      &bt BT_CLR    &kp N4           &kp N3           &kp N2           &kp N1            &kp N0
      &kp LEFT      &kp DOWN         &kp UP           &kp RIGHT        &bt BT_CLR        &kp C_PP
      // ROW 3
      &kp C_BRI_DN  &kp N5           &kp N6           &kp N7           &kp N8            &kp N9
      &bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4      &kp C_NEXT
      // THUMBS
      &trans        &mt LSHFT ESC    &trans
                                                      &trans           &mt RSHFT SPC     &trans
    >;
  };

  raise_layer {
    bindings = <
      // ROW 1
      &kp C_BRI_UP  &kp F1           &kp F2           &kp F3           &kp F4            &kp F5
      &kp HOME      &kp PG_DN        &kp PG_UP        &kp END          &trans            &kp C_PREV
      // ROW 2
      &bt BT_CLR    &kp F6           &kp F7           &kp F8           &kp F9            &kp F10
      &kp LEFT      &kp DOWN         &kp UP           &kp RIGHT        &trans            &kp C_PP
      // ROW 3
      &kp C_BRI_DN  &kp F11          &kp F12          &kp K_MUTE       &kp K_VOL_DN      &kp K_VOL_UP
      &bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4      &kp C_NEXT
      // THUMBS
      &trans        &trans           &trans
                                                      &trans           &trans            &trans
    >;
  };
};
};
